body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    background-image: url('https://wallpapercave.com/wp/wp12769432.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  
  h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 3em;
  }
  
  /* Centraliza o campo de busca */
  .search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #search {
    padding: 10px;
    width: 300px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }
  
  /* Estilo da lista de planetas */
  #planet-list {
    margin-top: 30px;
    text-align: center;
  }
  
  /* Estilo dos botões dos planetas */
  .planet-btn {
    margin: 10px;
    padding: 10px 20px;
    background-color: #7B68EE; /* Cor roxa */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .planet-btn:hover {
    background-color: #6A5ACD; 
  }
  
  /* Detalhes do planeta */
  #planet-details {
    margin-top: 30px;
    text-align: center;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    color: white;
  }
  
  th {
    background-color: #7B68EE; 
    color: white;
  }
  